  #mainpage {
    position:absolute;
    width:90%;
    height:90%;
    padding-left: 1%;
    padding-top: 1%;
  }
  
  #button {
    padding-left: 0.5%;
    padding-top: 0.5%;
    z-index: 1;
    position: absolute;
  }
  
  #button img {
    width: 30px;
    height: 30px;
  }
  
  #sidebar {
    position: fixed;
    top: 0;
    left: calc(-100% + 20px);
    width: min(20%, 200px);
    height: 100%;
    background-color: lightgray;
    transition: left 0.5s;
    z-index: 0;
  }
  #sidebarContent{
    height: 100%;
    padding:10%;
    padding-top: 7vh;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  