body{
    background-color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    color: darkslateblue;
}
h1{
    color:blue;
    text-align:center;
}
h2{
    color: blue;
}
li{
    color:darkslateblue;
}
a{
    color: rgb(100, 175, 255);
    text-decoration:none;
}